{% extends 'base.html' %}

{% load static %}

{% load adega_templatetag %}
{% block content %}
<div class="row">
    <div class="col-md-12">
      <h1>
        Informações Gerais - Turma Ingresso
        <a tabindex="0" class="fa fa-info-circle" data-toggler="popover" data-html="true" 
        data-content="Para o cálculo do IRA, somente as situações consideradas como <b>Aprovação</b> ou <b>Reprovação</b> são consideradas.<br>
                      Também, alguns casos como o cálculo do índice de reprovação utilizam o conceito de disciplians cursadas.
                      <br>
                      Situações consideradas como <b>Aprovação:</b><br>
                      {% for x in situations_pass %}
                      {{x}}<br>
                      {% endfor %}
                      <br>
                      Situações consideradas como <b>Reprovação:</b><br>
                      {% for x in situations_fail %}
                      {{x}}<br>
                      {% endfor %}
                      <br>
                      Situações consideradas como <b>Cursada:</b><br>
                      {% for x in situations_coursed %}
                      {{x}}<br>
                      {% endfor %}
        "></a>
      </h1>
      <table class="table">
          <tr>
            <td>Ano/Semestre</td>
            <td> {{admission_info.ano}}/{{admission_info.semestre}} </td>
          </tr>
          <tr>
            <td>Quantidade de alunos</td>
            <td> {{admission_info.quantidade_alunos}} </td>
            <td>
                <a  tabindex="0" class=" fa fa-info-circle" data-toggler="popover" data-html="true"
                data-content="Quantidade de alunos que possuem ano e semestre de matrícula referente a esta turma ingresso."></a>
            </td>
          </tr>
          <tr>
            <td>IRA Médio</td>
            <td> {{admission_info.ira|floatformat:2}} &plusmn {{admission_info.std|floatformat:2}} </td>
            <td>
                <a  tabindex="0" class=" fa fa-info-circle" data-toggler="popover" data-html="true"
                data-content="IRA médio e desvio padrão dos alunos desta turma. São apenas consideradas as disciplinas cujas situações são classificadas como <b>Reprovação</b> ou <b>Aprovação</b>."></a>
            </td>
          </tr>
          <tr>
            <td>Tempo médio de formatura em anos <b>atual</b></td>
            <td> {{admission_info.formatura_media}} </td>
            <td>
                <a  tabindex="0" class=" fa fa-info-circle" data-toggler="popover" data-html="true"
                data-content="Tempo médio de formatura em anos dentre os alunos que se formaram.
                              Os semestres de matrícula e formatura que estão registrados como 'Anual' são
                              considerados como o primeiro semestre do ano."></a>
            </td>
          </tr>
          <tr>
            <td>Índice de Reprovação</td>
            <td> {{admission_info.taxa_reprovacao|to_percent}} </td>
            <td>
                <a  tabindex="0" class=" fa fa-info-circle" data-toggler="popover" data-html="true"
                data-content="Valor que representa a taxa de reprovação de disciplinas cursadas pelos alunos desta turma. É calculado a partir da razão entre disciplinas consideradas como <b>Reprovação</b> e disciplinas consideradas como <b>Cursada</b>."></a>
            </td>
          </tr>
          <tr>
            <td>Indice de Evasão</td>
            <td> {{admission_info.taxa_evasao|to_percent}} </td>
            <td>
                <a  tabindex="0" class=" fa fa-info-circle" data-toggler="popover" data-html="true"
                data-content="Valor que representa a taxa de de evasão desta turma. É calculado a partir da razão entre alunos ativos e a quantidade total de alunos da turma."></a>
            </td>
          </tr>
          <tr>
            <td>Quantidade de Evadidos</td>
            <td> {{admission_info.alunos_evadidos}} </td>
          </tr>
          <tr>
            <td>Quantidade de Formados</td>
            <td> {{admission_info.formatura}} </td>
          </tr>
          <tr>
            <td>Quantidade de alunos ativos</td>
            <td> {{admission_info.ativos}} </td>
          </tr>
          <tr>
            <td>Quantidade de Abandonos</td>
            <td> {{admission_info.abandono}} </td>
          </tr>
          <tr>
            <td>Quantidade de outras formas de evasão</td>
            <td> {{admission_info.outras_formas_evasao}} </td>
          </tr>
      </table>
  
      {% comment %}
      <div>
        <div class="panel-container">
          <div class="data-panel">
            <h3>Nota Média</h3>
            <span class="data">{{ degree_data.nota_media.0|floatformat:2 }} &#177; {{degree_data.nota_media.1|floatformat:2 }}</span>
          </div>
          <div class="data-panel">
            <h3>Taxa Média de Reprovação</h3>
            <span class="data">{{ degree_data.taxa_reprovacao.0|floatformat:2 }}% &#177; {{degree_data.taxa_reprovacao.1|floatformat:2 }}%</span>
          </div>
        </div>
        <div class="panel-container">
          <div class="data-panel">
            <h3>Aprovação Aproveitamento de Conhecimento</h3>
            <span class="data">{{ degree_data.taxa_conhecimento.0|floatformat:2 }}% &#177; {{degree_data.taxa_conhecimento.1|floatformat:2 }}%</span>
          </div>
          <div class="data-panel">
            <h3>Taxa de Trancamento</h3>
            <span class="data">{{ degree_data.taxa_trancamento.0|floatformat:2 }}% &#177;{{degree_data.taxa_trancamento.1|floatformat:2}}%</span>
          </div>
        </div>
      </div>
      {% endcomment %}

      
      <div id="graficos">
        <div class="row">
            <div class="col-md-12">
              <h3>
                IRA por Semestre
                <a tabindex="0" class="fa fa-info-circle" data-toggler="popover" data-html="true"
                   data-content="Média e desvio padrão do IRA semestral dos alunos desta turma em diferentes períodos. O valor do IRA é calculado individualmente
                                 para cada semestre, ou seja, os valores das notas não são acumulados.
                                 São apenas consideradas as disciplinas cujas situações são classificadas como
                                 <b>Reprovação</b> ou <b>Aprovação</b>."></a>
              </h3>
              <div id="ira_semestral"></div>
            </div>
            <div class="col-md-12">
              <h3>
                Quantidade de alunos por Semestre
                <a tabindex="0" class="fa fa-info-circle" data-toggler="popover" data-html="true"
                   data-content="Calcula, para cada período, o número de alunos desta turma que realizaram ao menos uma matrícula em alguma disciplina.">
                </a>
              </h3>
              <div id="students_per_semester"></div>
            </div>
        </div>
      </div>
</div>
  
<div id="myChart2"></div>
{% endblock content %}



{% block js-foot %}
  <script>
    
    
    var admission_info =  {{admission_info|safe}};


    // ira_per_semester contains an object with year/semester
    // as keys, and an tuple (mean,std) as values
    // So, we need to transform this data before use on AdegaChart
    var sorted = AdegaChart.sort_object_by_key(admission_info.ira_per_semester);
    ira_per_semester_x = sorted[0];
    ira_per_semester_y = sorted[1];

    ira_per_semester_error = [];
    ira_per_semester_y = ira_per_semester_y.map(function(x){
      ira_per_semester_error.push(x[1]);
      return x[0];
    });


    var chart1 = new AdegaChart({
      data_x: ira_per_semester_x,
      data_y: ira_per_semester_y,
      error_y: ira_per_semester_error,
      div_target: "ira_semestral",
      type: "scatter",
      legend: "IRA",
      title: "Relação entre IRA médio da turma e períodos",
      xaxis_title: "Período",
      yaxis_title: "IRA médio da turma",
    });
    
    var sorted = AdegaChart.sort_object_by_key(admission_info.students_per_semester);
    students_per_semester_x = sorted[0];
    students_per_semester_y = sorted[1];

    var chart2 = new AdegaChart({
      data_x: students_per_semester_x, 
      data_y: students_per_semester_y,
      div_target: "students_per_semester",
      type:["scatter"],
      title: "Quantidade de alunos que se matricularam em ao menos uma disciplina em diferentes período",
      legend: "Quantidade de alunos",
      xaxis_title: "Período",
      yaxis_title: "Quantidade de alunos",
    });
    
  </script>
{% endblock js-foot %}