# info de contas criadas no sistema
login_info
# base de dados

*.csv
*.xls
*.xlsx
*.sqlite3
src/cache
*.json
base_dados/*
base_dados
*/~lock.*
!./src/submission/analysis/test/historico.xls
!./src/submission/analysis/test/matricula.xls


src/.coverage

static/*

# lixo

**/migrations/**
*~
*.swp
*.bkp
*.pyc
**/.~c9*
.idea
**/__pycache__

*.ipynb
