[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[dev-packages]

coverage = "*"
ipython = "*"


[packages]

Django = "==1.11.10"
django-widget-tweaks = "*"
pandas = "==0.22"
xlrd = "*"
django-extensions = "*"
ujson = "*"
eventlet = "*"
gunicorn = "*"
"psycopg2" = "*"
