[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
ipython = "*"
django-widget-tweaks = "*"
pandas = "==0.22"
xlrd = "*"
django-extensions = "*"
ujson = "*"
eventlet = "*"
gunicorn = "*"
"psycopg2" = "*"
Django = "==1.11.10"

[dev-packages]

[requires]
python_version = "3.6"
