/* Navegation Bar */
.adega-nav ul li{
	text-decoration: none;
	display: inline-block;
	color: white;
}

/* Content */

.highlight-command{
	margin: 0;
	background-color: #f6f8fa;
	border-radius: 3px; 
}


/* Footer */
.bg-adega{
	background-color: #132940 !important;
}


.adega-footer{
	color: white;
}

.adega-footer hr{
	border-top: 1px solid white;
}

.adega-footer a{
	text-decoration: none;
	color: white;
}