/* Navegation Bar */
.adega-nav ul li{
	text-decoration: none;
	display: inline-block;
}

/* Content */

.highlight-command{
	margin: 0;
	background-color: #f6f8fa;
	border-radius: 3px; 
}

/* Footer */
