{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="alert alert-light" role="alert">
	Selecione as planilhas adquiridas a partir dos relatórios providos pelo
	sistema SIE.<br><br>


	Ao clicar no botão "Enviar relatório", você entrará em um estado de espera,
	onde a página ficará ociosa em um status de carregamento.<br><br>

	Caso o processamento dos dados execute em pouco tempo, você receberá uma mensagem de confirmação.<br><br>

	É possível, caso o processamento demore muito tempo, que a página perca o
	status de ociosa, perdendo a indicação de que o processamento está sendo realizado.
	Caso isso aconteça, verifique a página de <a href="{% url 'submission:SubmissionListView' %}">Gerenciamento de relatórios</a>
	e visualize o status do processamento do upload dos relatórios (planilhas do SIE),
	que pode ser "Terminado", "Executando" ou "Falha".<br><br>
    
    Para entender o fluxo completo dos dados, recomendamos acessar o <a href="https://petcomputacaoufpr.github.io/adega/web_pages/index.html#upload">guia de uso geral do ADEGA</a>.
    <br><br>

    Certifique-se que os dados enviados estão em uma planilha de formato <i>.csv</i>.<br>
    Essa planilha deve seguir o modelo gerado pelo nosso <a href="https://gitlab.c3sl.ufpr.br/adega/conversor-de-dados-adega/tree/master">conversor de dados</a>, disponível em um repositório aberto.
</div>


<div class="formBox form-group ">
    <form id="form_sub" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		{% csrf_token %}

        <!-- Uploads files -->
        <div class="form-row">
            <div class="col-lg-5 col-md-5 col-sm-4">
                <label for="csv_data_file" type="file"
                    class="custom-file-label" id="csv_data_file_label">Dados (formato .csv)</label>
                <input type="file" name="csv_data_file"
                class="custom-file-input" id="csv_data_file"/>
            </div>

        </div>

        <!-- Integer field -->
        <div class="form-row">
            <div class="col-lg-5 col-md-5">
                <label for="relative_year">Ano do relatório</label>
                <input type="number" class="form-control" name="relative_year" id="relative_year"
                                                        value="{{form.relative_year.field.initial}}" />
            </div>

            <div class="col-lg-5 col-md-5 offset-lg-1 offset-md-1">
                <label for="relative_semester">Semestre do relatório</label>
                <input type="number" class="form-control" name="relative_semester" id="relative_semester"
                                                        value="{{form.relative_semester.field.initial}}" />
            </div>
        </div>

        <!-- Select field -->
        <div class="form-row">
            <div class="col-lg-5 col-md-5">
               <label>Selecione o status do semestre</label>
               <select name="semester_status" class="browser-default custom-select" id="semester_status">
                   {% for choice in form.semester_status.field.choices %}
                   <option value="{{choice.0}}">{{choice.1}}</option>
                   {% endfor %}
               </select>
            </div>


            <div class="col-lg-5 col-md-5 offset-lg-1 offset-md-1">
               <label>Selecione o curso de graduação</label>
               <select name="degree" class="browser-default custom-select" id="degree">
                    {% for degree in degree_options %}
                    <option value="{{degree.id}}">{{degree.name}}</option>
                    {% endfor %}
               </select>
            </div>

        </div>
        <br>
        <!-- Permissions -->
        <div class="row">
            <table class="table table-striped" id="ptable" >
              <thead >
                  <tr>
                    <th rowspan="3">Usuário</th>
                    <th colspan="5">Permissões</th>
                  </tr>
                  <tr>
                    {% for permission in permissions %}
                      <th scope="col"> {{permission}}</th>
                    {% endfor %}
                  </tr>
              </thead>
              <tbody>
                {% for user in users %}
                  <tr>
                    <th>{{user}}</th>
                    {% for permission in perms %}
                      <td>
                        <div class="form-check">
                          <input class="form-check-input position-static"
                                 type="checkbox"
                                 id="perm-{{user}}-{{permission}}"
                                 name="perm-{{user}}-{{permission}}"
                                 value=1 aria-label="...">
                        </div>
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-4 offset-lg-2">
				<button id="submit_button" class="btn btn-success btn-block" type="submit">Enviar relatório</button>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4">
        <a class="btn btn-danger btn-block" style="text-decoration: none!important;" href="{% url 'submission:SubmissionListView' %}">Cancelar</a>
			</div>
    </div>
    <br>
    <div id="submit_progress" style="display:none">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div><br>
      Processando dados, por favor aguarde...<br>
      Ao final do processamento você será redirecionado para a página inicial.
    </div>
    </form>
</div>
{% endblock content %}

{% block js-foot %}
    <script src="{% static 'datatables/jquery.dataTables.min.js' %}">
        $('#ptable').dataTable({
            "bPaginate": true,
            "bInfo": false,
            "aaSorting": [[ 1, "desc" ]],
            "responsive": true
        });
    </script>

    <script>
        $( document ).ready(function() {
          $("#submit_progress").hide();
        });
        // Change the file input to add its name
        $('.custom-file-input').on('change',function(e){
            //get the file name
            // var fileName = $(this).val();
            var fileName = e.target.files[0].name;
            //replace the "Choose a file" label
            var newText = "<b>"+fileName+"</b>";
            $("#csv_data_file_label").html(newText);
        })

        $("#submit_button").click(function(e){
          $("#submit_progress").show();
        });
    </script>

{% endblock js-foot %}
