{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="alert alert-light" role="alert">
	Selecione as planilhas adquiridas a partir dos relatórios providos pelo
	sistema SIE.<br><br>


	Ao clicar no botão "Enviar relatório", você entrará em um estado de espera,
	onde a página ficará ociosa em um status de carregamento.<br><br>

	Caso o processamento dos dados execute em pouco tempo, você receberá uma mensagem de confirmação.<br><br>

	É possível, caso o processamento demore muito tempo, que a página perca o 
	status de ociosa, perdendo a indicação de que o processamento está sendo realizado.
	Caso isso aconteça, verifique a página de <a href="{% url 'submission:SubmissionListView' %}">Gerenciamento de relatórios</a>
	e visualize o status do processamento do upload dos relatórios (planilhas do SIE),
	que pode ser "Terminado", "Executando" ou "Falha".<br>
	Em caso de falha, verifique se as planilhas de Matrícula e Histórico
	são válidas e estão em ordem correta. <br>
    Pode ser que o SIE altere o código de algum relatório, mas caso isso
    aconteça não tem problema,
    pois o que importa são as colunas com os nomes que especificamos.  Caso o
    código tenha mudado por favor
    envie um email para a lista de desenvolvimento <a
                                                       href="mailto:adega_dev@googlegroups.com"
                                                       >adega_dev@googlegroups.com</a>
    com o novo código para podemos atualizar esta página<br>
    Nos adotamos o formato xls para os relatório por causa de problemas com o
    csv e colunas de notas média.  Portanto todos relatórios devem ser enviados
    como xls.<br><br>
    Convencionamos os seguintes nomes para os relatórios:
	<ul>
        <li>
            Relatório histórico
            <ul>
               <li>
                   Descrição: Contém as informações referentes às matrículas dos alunos em 
                   disciplinas e seus resultados. 
               </li> 
               <li>
                   Colunas: ID_PESSOA; NOME_PESSOA; ID_ALUNO; MATR_ALUNO;
                   NUM_VERSAO; NOME_CURSO;COD_CURSO; ID_VERSAO_CURSO; ANO;
                   COD_ATIV_CURRIC; NOME_ATIV_CURRIC; CREDITOS; MEDIA_FINAL;
                   DESCR_SITUACAO; PERIODO; ID_CURSO_ALUNO; SITUACAO_ITEM;
                   CH_TEORICA; CH_PRATICA; TOTAL_CARGA_HORA; FORMA_INGRESSO;
                   ANO_INGRESSO; FORMA_EVASÃO; ANO_EVASÃO; SEXO.
               </li>
               <li>Observação: Nesse relatório talvez seja possível selecionar
               alunos pela forma de evasão, por exemplo só gerar relatório dos
               alunos com forma de evasão formado, para o sistema ADEGA quanto
               mais seleção de forma de evasão melhor é, pois aumenta a
               quantidade de alunos e as analises ficam mais precisas.</li>
               <li> Possível código SIE: 11.02.05.99.18 </li>
            </ul>
        </li>
        <li>
            Relatório Matrícula
            <ul>
                <li>
                    Descrição: Contém informações das matrículas de cada aluno no curso

                </li>
                <li> Colunas: ID_PESSOA; NOME_PESSOA; SEXO; DT_NASCIMENTO;
                    FORMA_INGRESSO; FORMA_EVASAO; COD_CURSO; NOME_UNIDADE;
                    MATR_ALUNO; NUM_VERSAO; PERIODO_INGRESSO; DT_EVASAO;
                    PERIODO_EVASAO.
                </li>
                <li>Possível código SIE: 11.02.04.99.43</li>
            </ul>
        </li>
	</ul>
	
	
</div>


<div class="formBox form-group ">
    <form id="form_sub" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		{% csrf_token %}
        
        <!-- Uploads files -->
        <div class="form-row">
            <div class="col-lg-5 col-md-5 col-sm-4">
                <input type="file" name="historico"
                class="custom-file-input" id="historico"/>
                <label for="historico" type="file"
                    class="custom-file-label">Histórico</label>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-4 offset-lg-1 offset-md-1">
                <input type="file" name="matricula" id="matricula"
                class="custom-file-input"/>
                <label for="matricula" class="custom-file-label">Matrícula</label>
            </div>
            
        </div>

        <!-- Integer field -->
        <div class="form-row">
            <div class="col-lg-5 col-md-5">
                <label for="relative_year">Ano do relatório</label>
                <input type="number" class="form-control" name="relative_year" id="relative_year"
                                                        value="{{form.relative_year.field.initial}}" />
            </div>
            
            <div class="col-lg-5 col-md-5 offset-lg-1 offset-md-1">
                <label for="relative_semester">Semestre do relatório</label>
                <input type="number" class="form-control" name="relative_semester" id="relative_semester"
                                                        value="{{form.relative_semester.field.initial}}" />
            </div>
        </div>

        <!-- Select field -->
        <div class="form-row">
            <div class="col-lg-5 col-md-5">
               <label>Selecione o status do semestre</label>
               <select name="semester_status" class="browser-default custom-select" id="semester_status">
                   {% for choice in form.semester_status.field.choices %}
                   <option value="{{choice.0}}">{{choice.1}}</option>
                   {% endfor %}
               </select> 
            </div>


            <div class="col-lg-5 col-md-5 offset-lg-1 offset-md-1">
               <label>Selecione o curso de graduação</label>
               <select name="degree" class="browser-default custom-select" id="degree">
                    {% for degree in degree_options %}
                    <option value="{{degree.id}}">{{degree.name}}</option>
                    {% endfor %}
               </select> 
            </div>

        </div>
        <br>
        <!-- Permissions -->
        <div class="row">
            <table class="table table-striped" id="ptable" >
              <thead >
                  <tr>
                    <th rowspan="3">Usuário</th>
                    <th colspan="5">Permissões</th>
                  </tr>
                  <tr>
                    {% for permission in permissions %}
                      <th scope="col"> {{permission}}</th>
                    {% endfor %}
                  </tr>
              </thead>
              <tbody>
                {% for user in users %}
                  <tr>
                    <th>{{user}}</th>
                    {% for permission in perms %}
                      <td>
                        <div class="form-check">
                          <input class="form-check-input position-static"
                                 type="checkbox"
                                 id="perm-{{user}}-{{permission}}"
                                 name="perm-{{user}}-{{permission}}"
                                 value=1 aria-label="...">
                        </div>
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-4 offset-lg-2">
				<button class="btn btn-success btn-block" type="submit">Enviar relatório</button>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4">
				<button class="btn btn-danger btn-block" type="submit">Cancelar</button>
			</div>
		</div>
    </form>
    
</div>
{% endblock content %}

{% block js-foot %}
    <script src="{% static 'datatables/jquery.dataTables.min.js' %}">
        $('#ptable').dataTable({
            "bPaginate": true,
            "bInfo": false,
            "aaSorting": [[ 1, "desc" ]],
            "responsive": true
        });
    </script>

    <script>
        // Change the file input to add its name
        $('.custom-file-input').on('change',function(e){
            //get the file name
            // var fileName = $(this).val();
            var fileName = e.target.files[0].name;
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
    
{% endblock js-foot %}

