{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h2>Relatórios enviados</h2>
	</div>
	<div class="col-offset-8">
		<a href="{% url 'submission:SubmissionCreateView' %}"> <button type="button" class="btn btn-primary">Upload de novos dados</button></a>
	</div>

</div>

<div class="alert alert-light" role="alert">
	Esta página contém os uploads de relatórios realizados por diferentes usuários
	que você possui acesso para gerenciar.<br><br>

	As linhas em vermelho indicam os relatórios (planilhas) que não puderam ser processados.
	Caso este problema aconteça, verifique novamente na etapa de que pode ser causado
	pela incompatibilidade das planilhas submetidas em
	<a href="{% url 'submission:SubmissionCreateView' %}">Upload de dados (relatório do SIE)</a>
	(colunas faltando, ordem errada do upload das planilhas de matrícula e histórico).<br><br>

	Também, ao realizar o upload verifique o Status do upload que, caso esteja em
	estado de processamento, terá coloração amarela na tabela a seguir.
</div>

<div class="row">
	<div class="table-responsive">
		<table id="submission_table" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Identificador do upload do relatório</th>
					<th>Curso</th>
					<th>Autor</th>
					<th>Ano</th>
					<th>Semestre</th>
					<th>Status do processamento</th>
					<th>Data do upload</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				{% for sub in submission %}
						<tr>
							<td>{{sub.id}} </td>
							<td>{{sub.degree}} </td>
							<td>{{sub.author}} </td>
							<td>{{sub.relative_year}} </td>
							<td>{{sub.relative_semester}} </td>
							<td>{{sub.get_analysis_status_display}}</td>
							<td>{{sub.timestamp}}</td>
							<td class="table-primary bg-primary bg-white">
								<!-- <a href="{% url 'submission:SubmissionDetailView' sub.pk %}">Detalhes </a><br> -->
								<!-- <a href="{% url 'submission:SubmissionUpdateView' sub.pk %}">Editar </a><br> -->
								{% if sub.get_analysis_status_display != 'Executando' %}
									<a href="{% url 'submission:SubmissionDeleteView' sub.pk %}">Remover </a><br>
								{% endif %}
								{% if sub.get_analysis_status_display == 'Terminado' %}
									<a href="{% url 'degree:index' submission_id=sub.id %}"> Visualizar relatório (gráficos e taxas) </a>
								{% endif %}
							</td>

						</tr>
			  {% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock content %}


{% block js-foot %}
<script>
    $('#submission_table').dataTable({
		"bPaginate": true,
		"bInfo": false,
		"aaSorting": [[ 0, "desc" ]],
		"responsive": true,
		"createdRow": function( row, data, dataIndex ) {
			console.log(dataIndex);
			switch(data[5]){
				case "Falha":
					$(row).addClass('table-danger');
					break;
				case "Executando":
					$(row).addClass('table-warning');
					break;
				case "Terminado":
					// $(row).addClass('table-success');
					break;
			}
			$(data[7]).removeClass("table-danger");
			$(data[7]).removeClass("table-warning");
			$(data[7]).removeClass("table-success");
			$(data[7]).addClass("table-primary");

		}
	});


</script>
{% endblock js-foot %}
