
html {
    height: 100%;
    font-size: 100%; /* Fix bootstrap resizing problem */
}



body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
}

#wrap-page {
    flex-grow: 1;
}

#content {
    min-height: 100px;
    padding: 2em 2em 48px;
}


h1#title {
    color: #33d333;
    font-size: 44px;
}

.navbar-text {
    color: #afb0c5 !important;
}


/* =========================================  MESSAGES */

.alert {
    border-radius: 0;
}

#messages {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 1.7em;
}

#messages div[role=alert] {
    margin: 0;
}


/* =========================================  FOOTER */

footer {
    background-color: #132940;
    /* border-top: 1px solid #001a2054; */
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
}


footer a {
    color: #FFF;
    font-size: 1.1em;
}

footer a:hover {
    color: #18BC9C;
}

footer h3 {
    padding-bottom: 4px;
    border-bottom: 2px solid #FFF;
}


/*    ===================    SIDEBAR    ========================    */

.sidebar {
    transition: all 0.5s ease-in-out;
    padding: 0;
    background-color: #132940;
    min-height: 100%;
}

.navbar {
    transition: all 0.5s ease-in-out;
    background-color: #132940;
}

.sidebar > li > .dropdown-menu { background-color:#1a2c3f;
 }
.sidebar > li > a { background-color:#1a2c3f;
 }
.sidebar > li > button { background-color:#1a2c3f;
 }

.sidebar ul {
    list-style:none;
    margin:0;
    padding:0;
}

.nav-item {
    display: flex;
}

.sidebar li a {
    flex-grow: 1;
    outline: none;
}

.sidebar .drop {
    display: inline-block;
    padding: 14px 18px 12px 20px;
    flex-grow: 0;
}

.rotate {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  transition: all .25s ease-in;
}

.collapsed .rotate {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all .25s ease-out;
}

.sidebar li a {
    padding: 14px 0px 12px 20px;
    color: #d3d5d8;
    border-left: 0px solid #159e83;
    text-decoration: none
}

.sidebar li li a {
    padding: 8px auto;
}


.sidebar li a:hover {
    color: #FFF !important;
    background-color: #132940;
}

.sidebar li .sub-menu li a {
    position:relative;
}

.sidebar li .sub-menu li a:hover:after {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
    background-color: #111;
    height: 100%;
}
.sidebar .sub-menu li a:hover{
    background-color:#222;
    padding-left:20px;
    transition: all 0.5s ease-in-out
}

.sub-menu {
    border-left:5px solid #4a7d73;
}


.content {
    padding: 2em;
}


.paginate_button{
    margin-left:10px;
    margin-right:10px;
    cursor: pointer;
}




/* =========================== PAINEIS ============= */

/* ===============================================   PANEL  */

.panel-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.data-panel {
    padding: 10px 10px 20px;
    margin: 10px;
    border-bottom: 2px solid #3c3c3c;
    font-size: 1.3em;
    flex: 1;

    box-shadow: 0 0 1px #DDD;
}

span.data {
    margin: 0 1.5em;
}

.panel-line {
    display: flex;
}

.data-panel .data-panel {
    margin: 2px;
    font-size: 1em;
    border-bottom: 1px solid #3c3c3c;
    box-shadow: none;
}


/* =================================================== GRADE */


/* ==============================================  GRADE  */
.grade {
  /* width: 100%; */
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.grade-head {
  padding: 5px;
  text-align: center;
  font-weight: bold; }

.grade .code,
.grade .name {
  display: block; }

/* ==============================================  MATERIA  */
.materia {
  background-color: #FFF;
  padding: 6px 6px 0px;
  margin: 1px 1px 2px;
  font-size: small;
  border-bottom: 4px solid white; }

.materia.approved {
    border-color: #6B8E23;
}
.materia.equivalence {
    border-color: rgb(138, 64, 207);
}

.materia.failed {
    border-color: #B22222;
}

.materia.cancelled {
    border-color: #FFD700;
}

.materia.registered {
    border-color: #ADD8E6;
}

.materia .info {
  margin: 2px;
  text-align: center;
}

.materia .details {
  margin: 2px;
  text-align: center;
}

.materia .code {
  display: none; }

.materia .cursadas {
  display: none; }

.materia .detail-name {
  font-variant: small-caps; }

.materia .details {
  border-top: 1px solid #F4F4F4;
  padding-top: 4px;
  margin-top: 3px;
  display: flex;
  height: 4em;
}

.materia .code {
  color: #444; }

.materia .detail-name {
  font-size: x-small; }

.materia .detail {
  padding: 0 3px; }

.materia .detail span {
  display: block;
  width: 100%;
  text-align: center; }

#materias-atuais {
  display: flex;
  background-color: #EEE; }

#materias-atuais .materia {
  min-width: 170px; }

/* ==============================================  SEMESTRE  */
.semestre {
  min-width: 100px;
  /* max-width: 250px; */
  margin: 1px;
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: stretch; }

/* ==============================================  HISTORICO  */
#desenvolvimento {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex; }

#desenvolvimento .desc {
  padding: 6px 8px; }

#desenvolvimento .res {
  padding: 6px 8px;
  display: absolute;
  bottom: 0; }

.desc .periodo {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px; }

