{% extends 'base.html' %}

{% block content %}
  <ul>
    <li>
      <a href="{% url 'uploads:simple' %}">Simple Upload</a>
    </li>
    <li>
      <a href="{% url 'uploads:model_form' %}">Model Form Upload</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id ante porta, mattis neque in, aliquet eros. Mauris a dolor at nisl posuere fermentum facilisis sed orci. Curabitur pretium nibh arcu, vitae fermentum lacus malesuada sit amet. Fusce porta sapien ac elit feugiat semper. Donec eu erat ultricies, dictum ligula et, tempor est. Morbi at convallis nisl. Quisque eget posuere justo. Fusce pellentesque pharetra dolor, in viverra lorem commodo non. Nunc vel odio euismod, commodo dolor a, euismod leo. Praesent facilisis lectus eget sem aliquam accumsan. Praesent iaculis neque vel tristique tristique. </p>

<p>Cras ac posuere augue. Nulla facilisis semper sodales. Fusce dapibus magna eu ligula ullamcorper, ac tincidunt leo congue. Nulla viverra lacinia urna, in fermentum ligula scelerisque et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ullamcorper tellus vel sollicitudin fermentum. Nunc at sem in ante iaculis fermentum id a ante. Cras consequat eleifend elit eget tristique. Maecenas iaculis mauris at tempus bibendum. </p>

{% endblock %}