{% extends 'base.html' %}



{% block content%}
<h2>Dashboard</h2>

<div class="alert alert-warning" role="alert">
    Os links a seguir exibirão os resumos (gráficos e taxas) dos <b>últimos relatórios
    submetidos e processados</b> referentes aos cursos registrados no sistema. Caso não exista nenhum
    relatório processado relacionado aos cursos, o sistema acusará um erro.

    <a href="{% url 'submission:SubmissionCreateView' %}">Submeter relatório</a></a>,
    que podem ser gerenciados na página <a href="{% url 'submission:SubmissionListView' %}"> Gerenciar relatórios</a>.
    <br><br>


</div>

{% for degree in degrees_last_submissions %}
<a href="{% url 'degree:index' submission_id=degree.last_submission.id %}">{{degree.name}} ({{degree.code}})</a><br>
{% endfor %}

{% endblock content %}
