<nav class="navbar-expand-lg navbar-dark bg-primary">
    <div class="col-md-2">
    <a class="navbar-brand" href="{% url 'dashboard' %}">ADEGA</a>
  </div>
  <div class="collapse navbar-collapse" id="navbartoggle">
    <span class="navbar-brand mr-auto">
        {% if degree != None %} 
        <a href="{% url 'degree:index' degree_id=degree.code%}">{{degree.name}} </a>
        {% endif %} 
    </span>


    {% comment %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Cursos <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            {% if len(user.educator.degree.all()) > 1 %} 
                {% for degree in user.educator.degree.all() %} 
                <li><a href="{% url 'degree:index'
                degree_id=degree.code%}">{{degree.name}} </a></li>
                {% endfor %} 
            {% else %} 
            {% endif %} 
        </ul>
    </li>
    {% endcomment %}
    <span class="navbar-text">
      Relatório 2016/1
    </span>
    &nbsp;&nbsp;&nbsp;
    {% comment %}
    <form class="form-inline my-2 my-lg-0" id="navbarsearch">
      <input class="form-control mr-sm-2" placeholder="Buscar" type="text">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    &nbsp;&nbsp;&nbsp;
    {% endcomment %}
    <div class="col-md-1">
    <span class="navbar-text"><a href="{% url 'logout' %}">Sair</a></span>
</div>
  </div>
</nav>
{% comment %}
<nav class="navbar navbar-expand-md navbar-dark flex-column flex-lg-row bg-dark">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header mr-0 mr-md-2">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ADEGA</a>
        </div>

        <div class="mr-1 mr-md-8">
            <a class="navbar-brand" href="#">Ciência da Computação</a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav hidden-md hidden-lg">
                    <li><a href="{% url 'student:index' degree_id=degree.code%}">Alunos</a></li>
                    <li><a href="{% url 'course:index' degree_id=degree.code%}">Turmas de Ingresso</a></li>
                    <li class="dropdown">
                            <a href="{% url 'course:index' degree_id=degree.code%}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Disciplinas <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Lista Disciplinas</a></li>
                            <li><a href="#">Compare Disciplinas</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Outros <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Cepe 96/15</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <span class="navbar-text">Relatório 2016/1</span>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Cursos <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Ciência da Computação</a></li>
                        <li><a href="#">Informática Biomédica</a></li>
                    </ul>
                </li>
                <li></li>
            </ul>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endcomment %}
