<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">
                <li class="navbar-item navbar-text">
                    <a class="navbar-brand" href="{% url 'dashboard' %}">ADEGA</a>
                    <span class="navbar-brand mr-auto">
                        <!-- {% if degree != None %} 
                        <a href="{% url 'degree:index' submission_id=submission.id%}">{{degree.name}} </a>
                        {% endif %} -->
                    </span>
                </li>
                <li class="navbar-item navbar-text">
                    <a class="nav-link" href="{% url 'dashboard' %}">Início</a>
                </li>
                <li class="navbar-item navbar-text">
                    <a class="nav-link" href="{% url 'submission:SubmissionListView' %}">Relatórios</a>
                </li>
            </ul>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-item navbar-text">
                <a class="nav-link" href="{% url 'logout' %}">Sair</a>
            </li>
        </ul>
    </div>
    {% comment %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Cursos <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            {% if len(user.educator.degree.all()) > 1 %} 
                {% for degree in user.educator.degree.all() %} 
                <li><a href="{% url 'degree:index'
                    submission_id=submission.id %}">{{degree.name}} </a></li>
                {% endfor %} 
            {% else %} 
            {% endif %} 
        </ul>
    </li>
    {% endcomment %}
    
    
    {% comment %}
    <form class="form-inline my-2 my-lg-0" id="navbarsearch">
    <input class="form-control mr-sm-2" placeholder="Buscar" type="text">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    &nbsp;&nbsp;&nbsp;
    {% endcomment %}
</nav> 


{% comment %}
<nav class="navbar navbar-expand-md navbar-dark flex-column flex-lg-row bg-dark">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header mr-0 mr-md-2">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ADEGA</a>
        </div>

        <div class="mr-1 mr-md-8">
            <a class="navbar-brand" href="#">Ciência da Computação</a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav hidden-md hidden-lg">
                    <li><a href="{% url 'student:index' submission_id=submission.id%}">Alunos</a></li>
                    <li><a href="{% url 'course:index' submission_id=submission.id%}">Turmas de Ingresso</a></li>
                    <li class="dropdown">
                            <a href="{% url 'course:index' submission_id=submission.id%}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Disciplinas <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Lista Disciplinas</a></li>
                            <li><a href="#">Compare Disciplinas</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Outros <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Cepe 96/15</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <span class="navbar-text">Relatório 2016/1</span>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Cursos <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Ciência da Computação</a></li>
                        <li><a href="#">Informática Biomédica</a></li>
                    </ul>
                </li>
                <li></li>
            </ul>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endcomment %}
