  <ul class="sidebar">
    <!-- <li class="nav-item"><a class="btn-primary text-left" href="{% url 'submission:SubmissionListView' %}">Gerenciar relatórios</a></li class="nav-item"> -->
    <li class="nav-item"><a class="btn-primary text-left" href="{% url 'degree:index' submission_id=submission.id%}">Informações gerais do curso</a></li class="nav-item">
    <li class="nav-item"><a class="btn-primary text-left" href="{% url 'student:index' submission_id=submission.id%}">Alunos</a></li class="nav-item">
      
    <li class="nav-item dropdown dropright">
        <a type="button" class="btn-primary" href="{% url 'course:index' submission_id=submission.id%}">Disciplinas</a>
        <button id="dropdown_compare" type="button" class="left btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
        </button>
        <dropdown class="dropdown-menu" aria-labelledby="dropdown_compare">
            <a class="dropdown-item" href="{% url 'course:compare' submission_id=submission.id %}">
              Comparação
            </a>
        </dropdown>
    </li>

    {% comment %}
    <li class="nav-item"><a class="btn-primary disabled text-left" href="#">Professores</a></li class="nav-item">
    <li class="nav-item"><a class="btn-primary disabled text-left" href="#">Turmas</a></li class="nav-item">
    {% endcomment %}
    <li class="nav-item"><a class="btn-primary text-left" href="{% url 'admission:index' submission_id=submission.id%}">Turmas de Ingresso</a></li class="nav-item">
    {% comment %}
    <li class="nav-item" style="display: block;" >
      <a href="#" data-toggle="collapse" data-target="#side-outros" style="display:flex" class="drop">
        <span style="flex-grow:1">Outros</span>
        <span style="padding-top:3px" class="rotate"><i class="fa fa-angle-left"></i></span>
      </a>
      
      <ul class="sub-menu collapse" id="side-outros">
        <li class="nav-item"><a class="btn-primary disabled text-left" href="#">Cepe 96/15</a></li class="nav-item">
      </ul>
    </li class="nav-item">
    {% endcomment %}
  </ul>
