<div class="sidebar left col-md-2 hidden-sm hidden-xs">
    <ul class="list-sidebar">
        <li><a href="{% url 'student:index' degree_id=degree_code %}" class="side-align">Alunos</a></li>
        <li style="display: block;">
            <div>
                <a href="{% url 'course:index' degree_id=degree.code %}">Disciplinas</a>
                <a href="#" class="drop pull-right" data-toggle="collapse" data-target="#side-disciplinas">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </a>
            </div>
            <ul class="sub-menu collapse" id="side-disciplinas">
                <li><a href="{% url 'course:compare' degree_id=degree.code %}">Comparar</a></li>
            </ul>
        </li>
        <li class="disabled"><a href="#">Professores</a></li>
        <li class="disabled"><a href="#">Turmas</a></li>
        <li><a href="{% url 'admission:index' degree_id=degree.code %}">Turmas de Ingresso</a></li>
        <li style="display: block;" >
            <a href="#" data-toggle="collapse" data-target="#side-outros" style="display:flex" class="drop">
                <span style="flex-grow:1">Outros</span>
                <span class="glyphicon glyphicon-menu-left" style="padding-top:3px"></span>
            </a>
            {% comment %}
            <ul class="sub-menu collapse" id="side-outros">
                <li><a href="{% url 'outros:cepe9615' curso_id=curso.codigo %}">Cepe 96/15</a></li>
            </ul>
            {% endcomment %} 
        </li>
    </ul>
</div>

