<div class="sidebar left hidden-sm hidden-xs">
    <li><a class="btn btn-primary text-left" href="{% url 'submission:SubmissionListView' %}">Gerenciar relatórios</a></li>
    <li><a class="btn btn-primary text-left" href="{% url 'degree:index' submission_id=submission.id%}">Informações gerais do curso</a></li>
    <li><a class="btn btn-primary text-left" href="{% url 'student:index' submission_id=submission.id%}">Alunos</a></li>
    <li style="display: block;">
      <div>
        <a class="btn btn-primary text-left" href="{% url 'course:index' submission_id=submission.id%}">Disciplinas</a>
        {% comment %}
        <a class="btn btn-primary text-left" href="course" class="drop" data-toggle="collapse" data-target="#side-disciplinas">
          <span class="rotate"><i class="fa fa-angle-left"></i></span>
        </a>
        {% endcomment %}
      </div>
      {% comment %}
      <ul class="sub-menu collapse" id="side-disciplinas">
        <li><a class="btn btn-primary text-left disabled" href="compare">Comparar</a></li>
      </ul>
      {% endcomment %}
    </li>
    {% comment %}
    <li><a class="btn btn-primary disabled text-left" href="#">Professores</a></li>
    <li><a class="btn btn-primary disabled text-left" href="#">Turmas</a></li>
    {% endcomment %}
    <li><a class="btn btn-primary text-left" href="{% url 'admission:index' submission_id=submission.id%}">Turmas de Ingresso</a></li>
    {% comment %}
    <li style="display: block;" >
      <a href="#" data-toggle="collapse" data-target="#side-outros" style="display:flex" class="drop">
        <span style="flex-grow:1">Outros</span>
        <span style="padding-top:3px" class="rotate"><i class="fa fa-angle-left"></i></span>
      </a>
      
      <ul class="sub-menu collapse" id="side-outros">
        <li><a class="btn btn-primary disabled text-left" href="#">Cepe 96/15</a></li>
      </ul>
    </li>
    {% endcomment %}
  </ul>
</div>
