{% extends 'base.html' %}

{% load static %}

{% load adega_templatetag %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{{ analysis_result.student.name }}
        <small>{{ analysis_result.student.grr }}</small>
        <a tabindex="0" class="fa fa-info-circle" data-toggler="popover" data-html="true" 
        data-content="Para o cálculo do IRA, somente as situações consideradas como <b>Aprovação</b> ou <b>Reprovação</b> são consideradas.<br>
        <br>
        Situações consideradas como <b>Aprovação:</b><br>
        {% for x in situations_pass %}
        {{x}}<br>
        {% endfor %}
        <br>
        Situações consideradas como <b>Reprovação:</b><br>
        {% for x in situations_fail %}
        {{x}}<br>
        {% endfor %}
        "></a>
        </h1>
        <div>
            <!-- Nav tabs -->
            <div class="nav nav-tabs" role="tablist">
             <a class="nav-item nav-link active" href="#resumo" aria-controls="resumo" data-toggle="tab">Resumo</a>
             <a class="nav-item nav-link" href="#disciplinas" aria-controls="disciplinas" data-toggle="tab">Lista de Disciplinas</a>
             {% for grid_info, grid_extra, version in analysis_result.grid_list %}
             <a class="nav-item nav-link" href="#grid_{{forloop.counter0}}" aria-controls="grid" data-toggle="tab">Grade - Versão: {{version}}</a>
             {% endfor %}
            </div>
        </div>
        
        
        <div class="tab-content">
            <!-- TODO: Add dynamic grid for each degree -->
            {% for grid_info, grid_extra, version in analysis_result.grid_list %}
            <div role="tabpanel" class="tab-pane" id="grid_{{forloop.counter0}}">
                <br>
                <div class="grade">
                    {% for semester in grid_info%}
                    <div class="semestre">
                        <div class="grade-head">{{forloop.counter}}º</div>
                        {% for course in semester %}
                        <div data-toggle="tooltip" data-placement="top" title="{{course.name}}" class="materia {{ course.situation}}">
                            <div class="info">
                                <span class="name">
                                    {% if course.is_real_code %}
                                    <a href="{% url 'course:detail' submission_id=submission.id codigo_disciplina=course.code|remove_spaces %}">
                                        {{ course.code }}</a>
                                    {% else %}
                                        {{ course.code }}
                                    {% endif %}
                                    {% if course.is_blocked %}                                        
                                        <i class="fa fa-lock pl-3" title="Faltando pré-requisitos. Disciplina bloqueada."></i>
                                    {% endif %}
                                        </span>
                                    </div>
                                    <div class="details">
                                        {% if course.detail %}
                                        <div class="detail">
                                            <span class="detail-name">Matrículas</span>
                                            <span class="detail-value">{{course.detail.count}}</span>
                                        </div>
                                        <div class="detail">
                                            <span class="detail-name">Última nota</span>
                                            <span class="detail-value">{{course.detail.last_grade|fix_2digit}}</span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>

                <br>
                
                <div class="grade">
                    {% for course in grid_extra %}
                    <div class="semestre">
                        <div class="info semestre">
                            <div class="materia">
                                {{course.code}} - {{course.name}}
                                <br>
                                <b>Necessário: {{course.necessary}}</b>
                            </div>
                            <div class="materia"> Nota média: {{course.grade|fix_2digit}}</div>
                            <div class="materia approved">Aprovações <br> {{course.approves}}</div>
                            <div class="materia equivalence">Equivalências <br> {{course.equivalences}}</div>
                            <div class="materia registered">Matrículas (semestre atual) <br> {{course.registered}}</div>
                            <div class="materia failed"> Reprovações <br> {{course.fails}}</div>
                            <div class="materia cancelled"> Cancelamentos <br> {{course.cancelled}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <div role="tabpanel" class="tab-pane active" id="resumo">
                <table class="table">
                    <tr>
                        <td>Versão da grade</td>
                        <td>
                            <span class="data">{{ analysis_result.student.num_versao }}</span><br>
                        </td>
                        <td>
                            <a  tabindex="0" class=" fa fa-info-circle" data-toggler="popover" data-html="true"
                            data-content="Versão atual da grade que o aluno está cursando. O aluno pode ter trocado de grade durante o curso."></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Saída do curso</td>
                        <td>
                            <span class="data">{{ analysis_result.student.forma_evasao }}</span><br>
                            {% if analysis_result.student.forma_evasao != "Sem evasão" %}
                                <span class="data">{{ analysis_result.student.ano_evasao }}/{{analysis_result.student.semestre_evasao}}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a  tabindex="0" class=" fa fa-info-circle" data-toggler="popover" data-html="true"
                            data-content="Código especificado no relatório original. Representa a modalidade de evasão do aluno ou especifica se o aluno é ativo (Sem evasão)."></a>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>IRA</td>
                        <td>
                            <span class="data">{{ analysis_result.student.ira|floatformat:2 }}</span>
                        </td>
                    </tr>
        
                    <tr>
                        <td>Taxa de Aprovação</td>
                        <td>
                            <span class="data">{{ analysis_result.indice_aprovacao|to_percent }}</span>
                        </td>
                        <td>
                            <a  tabindex="0" class=" fa fa-info-circle" data-toggler="popover" data-html="true"
                            data-content="Valor que representa a taxa de reprovação do estudante. São apenas consideradas as disciplinas cujas situações são classificadas como <b>Reprovação</b> ou <b>Aprovação</b>."></a>
                        </td>
                    </tr>
                    
                    <!-- This analysis was not implemented yet -->
                    <!-- <tr>
                        <td>Período real</td>
                        <td>
                            {% if analysis_result.periodo_real %}
                                <span class="data">{{ analysis_result.periodo_real }}</span>
                            {% elif analysis_result.student.forma_evasao == 'Formatura' %}
                                <span class="data">Formado</span>
                            {% else %}
                                <span class="data">Desconhecido</span>
                            {% endif %}
                        </td>
                    </tr> -->
        
                    <tr>
                        <td>Período pretendido</td>
                        <td>
                            {% if analysis_result.periodo_pretendido %}
                                <span class="data">
                                    {{ analysis_result.periodo_pretendido }}
                                </span>
                            {% else %}
                                <span class="data">Formado</span>                            
                            {% endif %}
                        </td>
                    </tr>
                    
                    {% for phase_name, phase_value in grid_phases %}
                    {% if phase_value.description_value != None %}
                    <tr>
                        <td>{{phase_value.description_name}} ({{phase_name}})</td>
                        <td><span class="data">{{phase_value.description_value}}</span></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
            
            <br>
            <br>

            <div role="tabpanel" class="tab-pane" id="disciplinas">
                <h1>Disciplinas Feitas</h1>
                <table id="course_list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Nota</th>
                            <th>Situação</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for at in analysis_result.aluno_turmas %}
                        <tr>
                            <td><a href="{% url 'course:detail' submission_id=submission.id codigo_disciplina=at.codigo %}">
                                {{ at.codigo }}</a></td>
                            <td>{{ at.nome }}</td>
                            <td>{{ at.nota }}</td>
                            <td>{{ at.situacao }}</td>
                            <td>{{ at.ano }}/{{ at.semestre }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="graficos">
                <div class="row">
                    <h3>Relação entre IRA e a quantidade de disciplinas por semestre
                        <a tabindex="0" class="fa fa-info-circle" data-toggler="popover" data-html="true"
                        data-content="IRA médio do estudante e quantidade de disciplinas cursadas em cada semestre. O valor do IRA é calculado individualmente
                                        para cada semestre, ou seja, os valores apresentados não são acumulados.
                                        São apenas consideradas as disciplinas cujas situações são classificadas como
                                        <b>Reprovação</b> ou <b>Aprovação</b>."></a>
                    </h3>
                    <div class="col-md-11">
                        <div id="ira_disciplinas_semestre"></div>
                    </div>
                </div>
                <br>
                <!-- <div class="row">
                    <h3>IRA/Semestre</h3>
                    <div class="col-md-11">
                        <div id="ira_semestral"></div>
                    </div>
                    <div class="col-md-1">
                        <a tabindex="0" class="fa fa-info-circle" data-toggler="popover" data-html="true"
                        data-content="IRA médio do estudante em cada semestre. O valor é calculado individualmente
                                      para cada semestre, logo os valores apresentados não são acumulados.
                                      São apenas consideradas as disciplinas cujas situações são classificadas como
                                      <b>Reprovação</b> ou <b>Aprovação</b>."></a>
                    </div>
                </div>
                <br> -->
                <div class="row">
                    <div class="col-md-11">
                        <h3>Índice de aprovação por Semestre
                            <a tabindex="0" class="fa fa-info-circle" data-toggler="popover" data-html="true"
                            data-content="Quantidade de disciplinas cursadas e aprovadas em cada semestre.
                                        São apenas consideradas as disciplinas cujas situações são classificadas como
                                        <b>Reprovação</b> ou <b>Aprovação</b>."></a>
                        </h3>
                        <div id="aprovacao_semestral"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-11">
                        <h3>Posição do aluno em relação a Turma de Ingresso por Semestre
                            <a tabindex="0" class="fa fa-info-circle" data-toggler="popover" data-html="true"
                            data-content="Posição do aluno em relação à própria turma de ingresso em cada semestre.
                                            A posição é calculada considerando o IRA médio em cada semestre de forma individual.
                                            Portanto, o IRA não é acumulado.<br><br>


                                            O valor máximo é 1 quando o aluno obteve o melhor IRA dentre os alunos de sua turma que
                                            cursaram ao menos uma disciplina em um determinado semestre, e 0 quando o aluno obteve o pior
                                            desempenho. O valor é calculado de forma que se o aluno obteve a N-esima melhor
                                            média de nota (IRA semestral) em um semestre, sua posição neste semestre é (1+N)/TOTAL,
                                            onde TOTAL representa o total de alunos de sua turma que cursaram ao menos uma disciplina
                                            no semestre em questão.<br><br>


                                            São apenas consideradas as disciplinas cujas situações são classificadas como
                                            <b>Reprovação</b> ou <b>Aprovação</b>."></a>
                        </h3>
                        <div id="posicao_turma_ingresso_semestral"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Aprovações Acumuladas
                            <a tabindex="0" class="fa fa-info-circle" data-toggler="popover" data-html="true"
                            data-content="Acumulo de aprovações (azul) e total de disciplinas cursadas (laranja) em cada período. 
                                            São apenas consideradas as disciplinas cujas situações são classificadas como
                                            <b>Reprovação</b> ou <b>Aprovação</b>."></a>
                        </h3>
                        <div id="aprovacao_acumulada"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  
{% endblock content %}

{% block js-foot %}
  <script>
    
    // var chart1 = new AdegaChart({
    //   data: {{analysis_result.ira_semestral|safe}},
    //   div_target: "ira_semestral",
    //   //type: "bar",
    //   title: "Relação entre IRA e período",
    //   legend: "IRA semestral",
    //   xaxis_title: "Período",
    //   yaxis_title: "IRA semestral",
    // });
    
    var chart2 = new AdegaChart({
        data: {{analysis_result.indice_aprovacao_semestral|safe}},
        div_target: "aprovacao_semestral",
        type: ["bar","bar"],
        title: "Índice de aprovação/Semestre",
        legend: ["Aprovações em disciplinas","Quantidade disciplinas cursadas"],
        barmode: "grouped",
        xaxis_title: "Período",
        yaxis_title: "Quantidade de disciplinas",
    });
    
    var chart3 = new AdegaChart({
      data: {{analysis_result.posicao_turmaIngresso_semestral|safe}},
      div_target: "posicao_turma_ingresso_semestral",
      fill: "none",
      title: "Posição do aluno em relação à turma de ingresso em cada período (1.0 representa o melhor desempenho)",
      legend: "Posição relativa",
      xaxis_title: "Período",
      yaxis_title: "Posição relativa em relação à turma ingresso",
    });
    


    var chart4 = new AdegaChart({
      data: {{analysis_result.ira_por_quantidade_disciplinas|safe}},
      div_target: "ira_disciplinas_semestre",
      type: ["scatter","bar","scatter"],
      title: "Relação entre IRA e a quantidade de disciplinas por semestre",
      legend: ["IRA semestral","Quantidade disciplinas","Carga horária"],
      hide_charts: [false,false,true],
      fill: "none",
      data_axis_y: ["y2", "y"],
      xaxis_title: "Período",
      yaxis_title: "Quantidade de disciplinas cursadas",
      yaxis2_title: "IRA semestral",
    });

    var aprovacao_semestral = {{analysis_result.indice_aprovacao_semestral|safe}} ;
    

    var chart5 = new AdegaChart({
      data: aprovacao_semestral,
      div_target: "aprovacao_acumulada",
      type: ["bar","bar"],
      title: "Relação entre quantidade de disciplinas cursadas e aprovadas",
      legend: ["Aprovações acumuladas","Disciplinas cursadas acumuladas"],
      barmode: "grouped",
      xaxis_title: "Período",
      yaxis_title: "Quantidade de disciplinas",
    });

    chart5.transformToAcumulation();

    

    $('#course_list').dataTable({
      "bPaginate": true,
      "bInfo": false,
      "aaSorting": [[ 4, "desc" ]],
      "responsive": true
    });


  </script>
{% endblock js-foot %}