{% extends 'base.html' %}

{% load static %}

{% load math_tags %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{{ analysis_result.student.name }}
        <small>{{ analysis_result.student.grr }}</small>
        </h1>
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#resumo" aria-controls="resumo" role="tab" data-toggle="tab">Resumo</a></li>
            <li role="presentation"><a href="#disciplinas" aria-controls="disciplinas" role="tab" data-toggle="tab">Lista de Disciplinas</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="resumo">
                <div class="panel-container">
                    <div class="data-panel">
                        <h3>Entrada</h3>
                        <span class="data">{{ analysis_result.student.ano_ingresso }}/{{ analysis_result.student.semestre_ingresso }}</span>
                    </div>

                    {% if analysis_result.student.ano_evasao %}

                    <div class="data-panel">
                        <h3>Saida</h3>
                        <span class="data">{{ analysis_result.student.forma_evasao }}</span><br>
                        {% if analysis_result.student.forma_evasao != "Sem evasão" %}
                            <span class="data">{{ analysis_result.student.ano_evasao }}/{{analysis_result.student.semestre_evasao}}</span>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>

                <div class="panel-container">
                    <div class="data-panel">
                        <h3>Ira</h3>
                        <span class="data">{{ analysis_result.student.ira|floatformat:2 }}</span>
                    </div>

                    <div class="data-panel">
                        <h3>Taxa de Aprovação</h3>
                        <span class="data">{{ analysis_result.indice_aprovacao|multiply:100|floatformat:2 }}%</span>
                    </div>

                    <div class="data-panel">
                        <h3>Periodo real</h3>
                        {% if analysis_result.periodo_real %}
                            <span class="data">{{ analysis_result.periodo_real }}</span>
                        {% elif analysis_result.student.forma_evasao == 'Formatura' %}
                            <span class="data">Formado</span>
                        {% else %}
                            <span class="data">Jubilado</span>
                        {% endif %}
                    </div>

                    <div class="data-panel">
                        <h3>Periodo pretendido</h3>
                        {% if analysis_result.periodo_pretendido %}
                        <span class="data">{{ analysis_result.periodo_pretendido }}</span>
                        {% else %}
                        <span class="data">Formado</span>                            
                        {% endif %}
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="disciplinas">
                <h1>Disciplinas Feitas</h1>
                <table id="lista_disciplinas" class="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Nota</th>
                            <th>Situação</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for at in analysis_result.aluno_turmas %}
                        <tr>
                            <td><a href="{% url 'course:detail' degree_id=degree_id codigo_disciplina=at.codigo %}">
                                {{ at.codigo }}</a></td>
                            <td>{{ at.nome }}</td>
                            <td>{{ at.nota }}</td>
                            <td>{{ at.situacao }}</td>
                            <td>{{ at.ano }}/{{ at.semestre }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="graficos">
                <div class="row">
                    <div class="col-md-6">
                        <div id="ira_semestral"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="aprovacao_semestral"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Posição do aluno em relação a turma de ingresso/Semestre(%)</h3>
                        <canvas id="posicao_turma_ingresso_semestral"
                                data-data='{{ analysis_result.posicao_turmaIngresso_semestral|safe }}'></canvas>
                    </div>
                    <div class="col-md-6">
                        <div id="ira_disciplinas_semestre"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="aprovacao_acumulada"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  
<div id="myChart2"></div>
{% endblock content %}



{% block js-foot %}
  <script>
    
    
    var chart1 = new AdegaChart({
      data: {{analysis_result.ira_semestral|safe}},
      div_target: "ira_semestral",
      //type: "bar",
      title: "Ira Semestral",
      legend: "IRA"
    });

    var chart2 = new AdegaChart({
      data: {{analysis_result.indice_aprovacao_semestral|safe}},
      div_target: "aprovacao_semestral",
      type: ["bar","bar"],
      title: "Índice de aprovação/Semestre",
      legend: ["Aprovações em disciplinas","Quantidade Disciplinas"]
    });

    var chart3 = new AdegaChart({
      data: {{analysis_result.ira_por_quantidade_disciplinas|safe}},
      div_target: "ira_disciplinas_semestre",
      type: ["scatter","bar","scatter"],
      title: "Relação entre IRA e a quantidade de disciplinas por semestre",
      legend: ["IRA","Quantidade Disciplinas","Carga horária"],
      hide_charts: [false,false,true],
      fill: "none"
    });

    var aprovacao_semestral = {{analysis_result.indice_aprovacao_semestral|safe}} ;
    

    var chart4 = new AdegaChart({
      data: aprovacao_semestral,
      div_target: "aprovacao_acumulada",
      type: ["scatter","bar","scatter"],
      title: "Aprovação Acumulada",
      legend: ["Aprovações acumuladas","Disciplinas cursadas acumuladas"],
    });

    chart4.transformToAcumulation();

    
  </script>
{% endblock js-foot %}