{% extends 'base.html' %}

{% load static %}



{% block content %}

<div class="row">
	<div class="col-md-12">

		<h1>Listagem dos Alunos</h1>
		<div class="nav nav-tabs" role="tablist">
			<a class="nav-item nav-link active" href="#sem_evasao" aria-controls="sem_evasao" data-toggle="tab">Sem Evasão</a>
			<a class="nav-item nav-link" href="#formados" aria-controls="formados" data-toggle="tab">Formados</a>
			<a class="nav-item nav-link" href="#abandono" aria-controls="abandono" data-toggle="tab">Abandono</a>
			<a class="nav-item nav-link" href="#desistencia" aria-controls="desistencia" data-toggle="tab">Desistência</a>
			<a class="nav-item nav-link" href="#outras" aria-controls="outras" data-toggle="tab">Outras Formas de Evasão</a>
		</div>
		<br>
		
		<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="sem_evasao">
						<table class="table table-striped table-bordered" id="sem_evasao_table">
				            <thead>
				                <tr>
				                    <th class="col-md-2">GRR</th>
				                    <th class="col-md-4">Nome</th>
				                    <th class="col-md-2">IRA</th>
				                    <th class="col-md-2">Forma evasão</th>
				                </tr>
				            </thead>
				            <tbody>
				                {% for l in sem_evasao %}
				                <tr>
				                <td class="col-md-2"><a href="{% url 'student:detail' grr=l.grr degree_id=degree.code %}">{{ l.grr }}</a></td>
				                <td class="col-md-4">{{ l.nome }}</td>
				                <td class="col-md-2">{{ l.ira|floatformat:2 }}</td>
				                <td class="col-md-2">{{ l.forma_evasao }}</td>
				                </tr>
				                {% endfor %}
				            </tbody>
						</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="formados">
					<table class="table table-striped table-bordered" id="formados_table">
									<thead>
											<tr>
												<th class="col-md-2">GRR</th>
												<th class="col-md-4">Nome</th>
												<th class="col-md-2">ira</th>
												<th class="col-md-2">Forma evasão</th>
											</tr>
									</thead>
									<tbody>
											{% for l in formatura %}
											<tr>
											<td class="col-md-2"><a href="{% url 'student:detail' grr=l.grr degree_id=degree.code %}">{{ l.grr }}</a></td>
											<td class="col-md-4">{{ l.nome }}</td>
											<td class="col-md-2">{{ l.ira|floatformat:2 }}</td>
											<td class="col-md-2">{{ l.forma_evasao }}</td>
											</tr>
											{% endfor %}
									</tbody>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="abandono">
					<table class="table table-striped table-bordered" id="abandono_table">
									<thead>
											<tr>
												<th class="col-md-2">GRR</th>
												<th class="col-md-4">Nome</th>
												<th class="col-md-2">ira</th>
												<th class="col-md-2">Forma evasão</th>
											</tr>
									</thead>
									<tbody>
											{% for l in abandono %}
											<tr>
												<td class="col-md-2"><a href="{% url 'student:detail' grr=l.grr degree_id=degree.code %}">{{ l.grr }}</a></td>
												<td class="col-md-4">{{ l.nome }}</td>
												<td class="col-md-2">{{ l.ira|floatformat:2 }}</td>
												<td class="col-md-2">{{ l.forma_evasao }}</td>
											</tr>
											{% endfor %}
									</tbody>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="desistencia">
					<table class="table table-striped table-bordered" id="desistencia_table">
									<thead>
											<tr>
												<th class="col-md-2">GRR</th>
												<th class="col-md-4">Nome</th>
												<th class="col-md-2">ira</th>
												<th class="col-md-2">Forma evasão</th>
											</tr>
									</thead>
									<tbody>
											{% for l in desistencia %}
											<tr>
												<td class="col-md-2"><a href="{% url 'student:detail' grr=l.grr degree_id=degree.code %}">{{ l.grr }}</a></td>
												<td class="col-md-4">{{ l.nome }}</td>
												<td class="col-md-2">{{ l.ira|floatformat:2 }}</td>
												<td class="col-md-2">{{ l.forma_evasao }}</td>
											</tr>
											{% endfor %}
									</tbody>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="outras">
					<table class="table table-striped table-bordered" id="outros_table">
									<thead>
											<tr>
												<th class="col-md-2">GRR</th>
												<th class="col-md-4">Nome</th>
												<th class="col-md-2">ira</th>
												<th class="col-md-2">Forma evasão</th>
											</tr>
									</thead>
									<tbody>
											{% for l in outros %}
											<tr>
												<td class="col-md-2"><a href="{% url 'student:detail' grr=l.grr degree_id=degree.code %}">{{ l.grr }}</a></td>
												<td class="col-md-4">{{ l.nome }}</td>
												<td class="col-md-2">{{ l.ira|floatformat:2 }}</td>
												<td class="col-md-2">{{ l.forma_evasao }}</td>
											</tr>
											{% endfor %}
									</tbody>
					</table>
				</div>
		</div>
	</div>
</div>
{% endblock content %}


{% block js-foot %}
<script>
	var table_names = [
		$("#sem_evasao_table"),
		$("#formados_table"),
		$("#abandono_table"),
		$("#desistencia_table"),
		$("#outros_table")
	];
	$(table_names).each(function(i,x){
		x.dataTable({
			"bPaginate": true,
			"bInfo": false,
			"aaSorting": [[ 1, "desc" ]],
			"responsive": true
		});
	});
	
	
</script>
	
{% endblock js-foot %}
