{% extends 'base.html' %}


{% block content%}
<h2>F.A.Q.</h2>
<br>
<h4>Perguntas frequentes sobre o projeto A.D.E.G.A.</h4>

<div class="form-group row my-3">
  <label for="exampleInputEmail1" class="col-sm-2 m-0">
    <a href="#"> <button type="button" class="btn btn-primary px-3 py-2">Faça uma pergunta</button></a>
  </label>
  <!-- <input type="question" class="form-control col-sm-10" id="inputQuestion" placeholder="Enter email"> -->
</div>
<div >
 
  <div id="accordion">
    {% for question in questions %}
    
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapse{{ question.id }}">
            {{ question.question }}
          </a>
        </div>
        <div id="collapse{{ question.id }}" class="collapse hide" data-parent="#accordion">
          <div class="card-body">
            <p>{{ question.answer|linebreaksbr }}</p>
          </div>
        </div>
      </div>
    
    {% endfor %}
  </div>

</div>  

</div>

{% endblock content %}
