{% extends 'base.html' %}


{% block content%}
<h2>FAQ</h2>
<br>
<h4>Perguntas frequentes sobre o projeto A.D.E.G.A.</h4>
<br>
<div style="background-color:#fff; color:#000; text-align:justify;">
 
  <div id="accordion">
    {% for question in questions %}
    
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapse{{ question.id }}">
            {{ question.question }}
          </a>
        </div>
        <div id="collapse{{ question.id }}" class="collapse hide" data-parent="#accordion">
          <div class="card-body">
            <p>{{ question.answer|linebreaksbr }}</p>
          </div>
        </div>
      </div>
    
    {% endfor %}
  </div>

</div>  

</div>

{% endblock content %}
