{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <title>{% if title %}{{ title}} | {% endif %}A.D.E.G.A.</title>

    
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
    
    <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.min.css' %}"/>
    
    <link rel="stylesheet" href="{% static 'flatly/bootstrap.css' %}"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="{% static 'fontawesome5/css/fa-regular.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'adega/css/styles.css' %}"/>

    

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic" as="style"/>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" /> -->
    
    <link rel="stylesheet" href="{% static 'bootstrap-select/css/bootstrap-select.min.css' %}"/>
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
  </head>
  <body>
    <section id="header">
        {% include 'adega/navbar.html' %}
    </section>
    <section id="wrap-page" class="container-fluid">
      <div class="row" style="min-height:100%">
        <nav class="col-md-2 sidebar">
            {% if not hide_navbar %}
              {% include 'adega/sidebar.html' %}
            {% endif %}
        </nav>
        <section class="col-md-10">
          {% if messages %}
          <div id="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <div class="container">{{ message }}</div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
          <div id="content">
            {% block content %}

            {% endblock %}
          </div>
        </section>
      </div>
    </section>
    <footer>
      <div class="container container-fluid">
        <div class="row">
          <div class="col-md-4">
            <h3>Links</h3>
            <ul>
              <li><a href="https://web.inf.ufpr.br/pet/a-d-e-g-a/">Página oficial do projeto</a></li>
                <li><a href="https://petcomputacaoufpr.github.io/adega/web_pages/index.html">Manual de uso</a></li>
                <li><a href="https://gitlab.c3sl.ufpr.br/adega/adega">Código fonte</a></li>
              <!-- <li><a href="#">Desenvolvedores</a></li> -->
            </ul>
          </div>
          <div class="col-md-4 offset-md-4">
            <h3>Mantido por</h3>
            <a href="http://pet.inf.ufpr.br">
              <img src="{% static 'pet/logo_pet_h_branco.png' %}" width="50%">
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>


  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  
  <script src="{% static 'bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
  
  <script src="{% static 'adega/js/scripts.js' %}"></script>
  

  <script src="{% static 'adega/js/plotly-latest.min.js' %}"></script>
  <script src="{% static 'adega/js/chroma.min.js' %}"></script>
  
  
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  
  <script src="{% static 'adega/js/adega-chart.js' %}"></script>


  <script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    
  
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script> -->
  <script>
    $.fn.selectpicker.Constructor.BootstrapVersion = '4';
  </script>

  <script charset="utf-8">
      $(function () {
       $('.fa-info-circle').popover({
       placement: 'top',
       trigger: 'hover'
       })
  })
  </script>
  {% block js-foot %}
    
  {% endblock js-foot %}
</html>
