{% extends 'base.html' %}

{% block content%}
<div class="row">
	<div class="col-md-12">
		<h1>Informações Gerais</h1>
		<table class="table">
				<tr>
					<td>Quantidade de alunos ativos</td>
					<td>{{degree_data.active_students}}</td>
				</tr>
				<tr>
					<td>I.R.A. médio desde o inicio do curso</td>
					<td>{{degree_data.ira_medio.0|floatformat:2}} &#177;
						{{degree_data.ira_medio.1|floatformat:2}}</td>
				</tr>
				<tr>
					<td> I.R.A. médio dos alunos atualmente no curso</td>
					<td>{{degree_data.ira_atual.0|floatformat:2}} &#177; {{degree_data.ira_atual.1|floatformat:2}}</td>
				</tr>
				<tr>
					<td>Taxa de reprovação desde o inicio do curso</td>
					<td>{{ degree_data.taxa_reprovacao.0|floatformat:2 }}%
						&#177; {{degree_data.taxa_reprovacao.1|floatformat:2 }}%</td>
				</tr>
				<tr>
					<td>Taxa de reprovação dos alunos atualmente no curso</td>

					<td>{{ degree_data.taxa_reprovacao_atual.0|floatformat:2 }}% &#177; {{degree_data.media_reprovacao_alunos_cursando.1|floatformat:2}}%</td>
				</tr>
				<tr>
				{% comment %}
					<td>Média de formandos (de {{ degree_data.total_alunos }} alunos)</td>
					<td>{{ degree_data.media_formandos|floatformat:2 }}%</td>
				</tr>
				<tr>
					<td>Taxa de evasão desde o inicio do curso</td>
					<td>{{degree_data.evasao_geral|percentage}}</td>
				</tr>
				<tr>
					<td>Tempo médio para formatura</td>
					<td>{{degree_data.tempo_medio_formatura|floatformat:2}} anos</td>
				</tr>
				<tr>
					<td>Possíveis jubilandos nesse semestre</td>
					<td>{{degree_data.jubilamento}}</td>
				</tr>
				{% endcomment %}
		</table>

				{% comment %}
		<div>
			<div class="panel-container">
				<div class="data-panel">
					<h3>Nota Média</h3>
					<span class="data">{{ degree_data.nota_media.0|floatformat:2 }} &#177; {{degree_data.nota_media.1|floatformat:2 }}</span>
				</div>
				<div class="data-panel">
					<h3>Taxa Média de Reprovação</h3>
					<span class="data">{{ degree_data.taxa_reprovacao.0|floatformat:2 }}% &#177; {{degree_data.taxa_reprovacao.1|floatformat:2 }}%</span>
				</div>
			</div>
			<div class="panel-container">
				<div class="data-panel">
					<h3>Aprovação Aproveitamento de Conhecimento</h3>
					<span class="data">{{ degree_data.taxa_conhecimento.0|floatformat:2 }}% &#177; {{degree_data.taxa_conhecimento.1|floatformat:2 }}%</span>
				</div>
				<div class="data-panel">
					<h3>Taxa de Trancamento</h3>
					<span class="data">{{ degree_data.taxa_trancamento.0|floatformat:2 }}% &#177;{{degree_data.taxa_trancamento.1|floatformat:2}}%</span>
				</div>
			</div>
		</div>
	{% endcomment %}
		{% comment %}
		<div id="graficos">
			<div class="row">
                <div class="col-md-6">
                    <h3>Quantidade alunos/IRA</h3>
                    <canvas id="ira_semestral" data-data='{{ degree_data.ira_medio_grafico|safe }}'></canvas>
                </div>
                <div class="col-md-6">
                    <h3>Quantidade evasão/período</h3>
                    <canvas id="evasao_semestre" data-data='{{ degree_data.evasao_grafico|safe }}'></canvas>
                </div>
				<!--
				<div class="col-md-6">
					<h3>Nota Média/Periodo</h3>
					<canvas id="nota_media_semestre"
							data-data='{{ degree_data.media_disc|safe }}'></canvas>
				</div> essa analise foi feita de uma maneira ruim no adega
				antigo -->
				<!-- analises sa02 -->
				<div class="col-md-6">
					<h3>Alunos/Periodo</h3>
					<canvas id="aluno_periodo"
							data-data='{{ degree_data.aluno_periodo|safe }}'></canvas>
				</div>

				<div class="col-md-6">
					<h3>Nota Média/Periodo</h3>
					<canvas id="nota_media_periodo"
							data-data='{{ degree_data.nota_media_periodo|safe }}'></canvas>
				</div>


				<div class="col-md-6">
					<h3>Taxa Aprovação/Periodo</h3>
					<canvas id="taxa_aprovacao_periodo"
							data-data='{{ degree_data.taxa_aprovacao_periodo|safe }}'></canvas>
				</div>
				<!-- fim analise sa02 -->
        	</div>
		</div>
	{% endcomment %}
	</div>
</div>
{% endblock content %}
