{% extends 'base.html' %}

{% load adega_templatetag %}

{% block content%}
<div class="row">
    <div class="col-md-12">
        <h1>
            Informações Gerais
            <a tabindex="0" class="fa fa-info-circle" data-toggler="popover" data-html="true"
            data-content="Para o cálculo do IRA, somente as situações consideradas como <b>Aprovação</b> ou <b>Reprovação</b> são consideradas.<br>
            <br>
            Situações consideradas como <b>Aprovação:</b><br>
            {% for x in situations_pass %}
            {{x}}<br>
            {% endfor %}
            <br>
            Situações consideradas como <b>Reprovação:</b><br>
            {% for x in situations_fail %}
            {{x}}<br>
            {% endfor %}
            "></a>
        </h1>
        <table class="table">
                <tr>
                    <td>Quantidade de alunos ativos</td>
                    <td>{{degree_data.qtd_alunos_atuais}}</td>
                    <td>
                        <a  tabindex="0" class=" fa fa-info-circle" data-toggler="popover" data-html="true"
                        data-content="Valor que representa o total de estudantes sem evasão."></a>
                    </td>
                </tr>
                <tr>
                    <td>IRA médio desde o inicio do curso
                    </td>
                    <td>{{degree_data.ira_medio.0|floatformat:2}} &#177;
                        {{degree_data.ira_medio.1|floatformat:2}}</td>
                    <td>
                        <a  tabindex="0" class=" fa fa-info-circle" data-toggler="popover" data-html="true"
                        data-content="Valores que representam o IRA médio (e desvio padrão) dos estudantes, levando em consideração todos os estudantes que ingressaram no curso."></a>
                    </td>
                </tr>
                <tr>
                    <td> IRA médio dos alunos atualmente no curso</td>
                    <td>{{degree_data.ira_atual.0|floatformat:2}} &#177;
                        {{degree_data.ira_atual.1|floatformat:2}}</td>
                    <td>
                        <a  tabindex="0" class=" fa fa-info-circle" data-toggler="popover" data-html="true"
                        data-content="Valores que representam o IRA médio (e desvio padrão) dos estudantes, levando em consideração apenas os estudantes que estão ativos no curso. São apenas consideradas as disciplinas cujas situações são classificadas como <b>Reprovação</b> ou <b>Aprovação</b>."></a>
                    </td>
                </tr>
                <tr>
                    <td>Taxa de reprovação desde o inicio do curso</td>
                    <td>{{ degree_data.taxa_reprovacao | to_percent }}</td>
                    <td>
                        <a  tabindex="0" class=" fa fa-info-circle" data-toggler="popover" data-html="true"
                        data-content="Valor que representa a taxa de reprovação dos estudantes, levando em consideração todos os estudantes que ingressaram no curso. São apenas consideradas as disciplinas cujas situações são classificadas como <b>Reprovação</b> ou <b>Aprovação</b>."></a>
                    </td>
                </tr>
                <tr>
                    <td>Taxa de reprovação dos alunos atualmente no curso</td>

                    <td>{{ degree_data.taxa_reprovacao_atual|to_percent }}</td>
                    <td>
                         <a  tabindex="0" class=" fa fa-info-circle" data-toggler="popover" data-html="true"
                         data-content="Número que representa a taxa de reprovação dos estudantes, levando em consideração apenas os estudantes que estão ativos no curso."></a>
                    </td>
                </tr>
                <tr>
                {% comment %}
                    <td>Média de formandos (de {{ degree_data.total_alunos }} alunos)</td>
                    <td>{{ degree_data.media_formandos|to_percent }}</td>
                </tr>
                <tr>
                    <td>Taxa de evasão desde o inicio do curso</td>
                    <td>{{degree_data.evasao_geral|percentage}}</td>
                </tr>
                <tr>
                    <td>Tempo médio para formatura</td>
                    <td>{{degree_data.tempo_medio_formatura|floatformat:2}} anos</td>
                </tr>
                <tr>
                    <td>Possíveis jubilandos nesse semestre</td>
                    <td>{{degree_data.jubilamento}}</td>
                </tr>
                {% endcomment %}
        </table>

        {% comment %}
        <div>
            <div class="panel-container">
                <div class="data-panel">
                    <h3>Nota Média</h3>
                    <span class="data">{{ 100*degree_data.nota_media.0|to_percent }} &#177; {{100*degree_data.nota_media.1|floatformat:2 }}</span>
                </div>
                <div class="data-panel">
                    <h3>Taxa Média de Reprovação</h3>
                    <span class="data">{{ 100*degree_data.taxa_reprovacao.0|to_percent }} &#177; {{100*degree_data.taxa_reprovacao.1|to_percent}}</span>
                </div>
            </div>
            <br>
            <div class="panel-container">
                <div class="data-panel">
                    <h3>Aprovação Aproveitamento de Conhecimento</h3>
                    <span class="data">{{ degree_data.taxa_conhecimento.0|to_percent }} &#177; {{degree_data.taxa_conhecimento.1|to_percent}}</span>
                </div>
                <div class="data-panel">
                    <h3>Taxa de Trancamento</h3>
                    <span class="data">{{ degree_data.taxa_trancamento.0|to_percent }} &#177;{{degree_data.taxa_trancamento.1|to_percent}}</span>
                </div>
            </div>
        </div>
        {% endcomment %}
        <br><br>


        <div id="graficos container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Distribuição de alunos por faixas de IRA
                            <a  tabindex="0" class="fa fa-info-circle" data-toggler="popover" data-html="true"
                            data-content="Distribuição dos IRA dos alunos do curso. O
                            gráfico mostra a distribuição de todos os alunos que fizeram ao menos uma disciplina, dos
                            alunos que estão no curso e dos alunos que já se formaram.<br>
                            <br>
                            <b>Atenção:</b> Alunos que possuem data de evasão indeterminada são desconsiderados."></a>
                    </h3>
                    <div id="ira_semestral"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>Histórico de evasão
                        <a  tabindex="0" class="fa fa-info-circle" data-toggler="popover" data-html="true"
                        data-content="Gráfico com a quantidade de evasão de cada
                        semestre e cada ano desde o inicio do curso.<br>
                        No gráfico, para cada quantidade de evasão é mostrada sua respectiva razão entre seu valor e a quantidade total de evasão."></a>
                    </h3>
                    <div id="evasao_semestre"></div>
                </div>
                <!--
                <div class="col-md-6">
                    <h3>Nota Média/Periodo</h3>
                    <canvas id="nota_media_semestre"
                            data-data='{{ degree_data.media_disc|safe }}'></canvas>
                </div> essa analise foi feita de uma maneira ruim no adega
                antigo -->
                <!-- analises sa02 -->
                {% comment %}
                <div class="col-md-6">
                    <h3>Alunos/Periodo</h3>
                    <canvas id="aluno_periodo"
                            data-data='{{ degree_data.aluno_periodo|safe }}'></canvas>
                </div>
                <br>
                <div class="col-md-6">
                    <h3>Nota Média/Periodo</h3>
                    <canvas id="nota_media_periodo"
                            data-data='{{ degree_data.nota_media_periodo|safe }}'></canvas>
                </div>
                <br>
                <div class="col-md-6">
                    <h3>Taxa Aprovação/Periodo</h3>
                    <canvas id="taxa_aprovacao_periodo"
                            data-data='{{ degree_data.taxa_aprovacao_periodo|safe }}'></canvas>
                </div>
                {% endcomment %}
                <!-- fim analise sa02 -->
            </div>
            <br>
            <!-- TODO: Add dynamic grid for each degree -->
            <div class="col-md-12">
                    <h3>Grade curricular
                            <a  tabindex="0" class="fa fa-info-circle" data-toggler="popover" data-html="true"
                            data-content="Informações gerais sobres as disciplinas do curso de graduação.<br>
                                          Passe o mouse sobre os códigos para verificar os nomes completos
                                          e os pré-requisitos associados.<br>
                                          Também é possível verificar o desvio padrão das notas médias
                                          passando o mouse sobre o valor da nota."></a>
                    </h3>
                <div class="row" id="grid">
                    <br>
                    <div class="grade col-md-10">
                        {% for semester in grid_info %}
                        <div class="semestre">
                            <div class="grade-head">{{forloop.counter}}º</div>
                                {% for course in semester %}
                                    <div id="grid_course_course_{{course.code}}" code={{course.code}}
                                        data-toggle="tooltip" data-placement="top" title="{{course.name}}" class="materia {{ course.situation }}">
                                        <div class="info">
                                            {% if course.is_real_code %}
                                            <span class="name">
                                                <a href="{% url 'course:detail' submission_id=submission.id codigo_disciplina=course.code|remove_spaces %}">
                                                    {{ course.code }}</a>
                                            </span>
                                            {% else %}
                                                <span class="name">{{ course.code }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="details">
                                            {% if course.detail %}
                                            <div class="detail">
                                                <span class="detail-name">Taxa de aprovação</span>
                                                <span class="detail-value">{{course.detail.taxa_aprovacao|fix_2digit}}</span>
                                            </div>
                                            <div class="detail"
                                                data-toggle="tooltip" data-placement="top" title="Desvio Padrão: &#177 {{course.detail.nota.1|fix_2digit}}">
                                                <span class="detail-name">Nota média</span>
                                                <span class="detail-value">{{course.detail.nota.0|fix_2digit}}
                                                </span>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-2">
                        <div class="text-center materia_prerequisite">Disciplina Pré-Requisitada</div><br>
                        <div class="text-center materia_posrequisite">Disciplina que possui a matéria como Pré-Requisito</div><br>
                        <div class="text-center materia_selected">Disciplina selecionada</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}

{% block js-foot %}
<script>
    
    var grid_info = {{grid_info|safe_js}};
    var prerequisites = {{prerequisites|safe_js}};
    var prerequisites_rev = {{prerequisites_rev|safe_js}};

    // Add mouseenter and mouseleave events to grid cells
    // The style are defined in the static styles.css file
    // OBS: The grid cells must have the id name started with grid_course_course_
    $( document ).ready(function() {
        // Mouse Enter event
        $(".materia").hover(function(){
                var code = $(this).attr("code");
                for(var i in prerequisites[code]){
                    var code2 = prerequisites[code][i];
                    $("#grid_course_course_"+code2).addClass('materia_prerequisite');
                }
                for(var i in prerequisites_rev[code]){
                    var code2 = prerequisites_rev[code][i];
                    $("#grid_course_course_"+code2).addClass('materia_posrequisite');
                }
                $(this).addClass('materia_selected');
            },
            // Mouse Leave event
            function(){
                var code = $(this).attr("code");
                for(var i in prerequisites[code]){
                    var code2 = prerequisites[code][i];
                    $("#grid_course_course_"+code2).removeClass('materia_prerequisite');
                }
                for(var i in prerequisites_rev[code]){
                    var code2 = prerequisites_rev[code][i];
                    $("#grid_course_course_"+code2).removeClass('materia_posrequisite');
                }
                $(this).removeClass('materia_selected');
            }
        );
    });



    // TODO: Refactor the analyzes to avoid this pretreatment
    // Assure that the keys is in order and convert the data
    // to a format that AdegaChart will accept
    function convert_degree_chart_data(data, y_keys_sorted){
        var new_data = {};
        var dict_order_keys = Object.keys(data[0][1]);

        data.map(function(x){
            // Ensure the fixed size of array
            var elements_tick = y_keys_sorted.map(i => {
                return null;
            });

            y_keys_sorted.map((y,i) => {
                elements_tick[i] = x[1][y];
            });

            // For add a new line in the plot data
            var index = x[0];
            new_data[index] = elements_tick;
        });
        return new_data;
    }

    var y_keys_sorted;
    var ira_medio = {{degree_data.ira_medio_grafico|safe}};
    y_keys_sorted = ["total","sem_evasao","formatura"];
    var ira_medio_data = convert_degree_chart_data(ira_medio,y_keys_sorted);

    var evasao_semestre = {{degree_data.evasao_grafico|safe}};
    y_keys_sorted = ["qtd","taxa"];
    var evasao_semestre_data = convert_degree_chart_data(evasao_semestre,
                                                         y_keys_sorted);

    // ira_semestral_data will be in format of:
    // {"00-4.9": [10,20,30], "05-9.9": [11,21,31], ...}

    var chart1 = new AdegaChart({
      data: ira_medio_data,
      div_target: "ira_semestral",
      title: "Distribuição de alunos por faixas de IRA",
      fill: "none",
      type: ["bar","bar","bar"],
      barmode:"group",
      legend: [
          "Total de alunos",
          "Alunos ativos",
          "Alunos formados"
      ],
      xaxis_title: "Faixa de IRA",
      yaxis_title: "Quantidade de alunos",
    });
    var chart2 = new AdegaChart({
      data: evasao_semestre_data,
      div_target: "evasao_semestre",
      title: "Quantidade de evasão em cada período",
      fill: "none",
      type: ["bar","scatter"],
      legend: ["Quantidade", "Porcentagem"],
      xaxis_title: "Período",
      yaxis_title: "Quantidade de evasões",
      yaxis2_title: "Porcentagem de evasão (em relação ao total)",
      data_axis_y: ["y1","y2"],
      marker: {
        opacity:0.6,
        size: 13
      },
    });

  </script>
{% endblock js-foot %}
